/* @import "~@ng-select/ng-select/themes/material.theme.css"; */


.ng-select.custom {
    
    min-height: 0px;
    border-radius: 0;
    margin-bottom: 50px;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
    border: 5px solid black;
    
}
.ng-option.ng-select-option{
    margin: 3px;
}